<h1>{{ student$ | async | json }}</h1>
<div>
  {{ course$ | async | json }}
</div>

<div>
  {{ requeriments$ | async | json }}
</div>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Informacion personal </mat-panel-title>
      <mat-panel-description>
        Informacion personal y de contacto
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container text-left">
      <div class="row">
        <div class="col">
          <img src="https://placeimg.com/300/300/people" alt="" />
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.cedula"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.nombres"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.apellidos"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Genero</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.sexoId.value"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Tipo Estudiante</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.tipoPersonaId.value"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Celular</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.celular"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.email"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Telefono Convencional</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(student$ | async)!.personCecy.convencional"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Informacion del curso </mat-panel-title>
      <mat-panel-description>
        Nombre del curso, Responsable, Cupos, etc
        <mat-icon>book</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          <img src="https://placeimg.com/300/300/tech" alt="" />
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(course$ | async)!.nombre"
            />
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Carrera</mat-label>
            <input matInput />
          </mat-form-field> -->

          <mat-form-field appearance="fill">
            <mat-label>Cupos</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(course$ | async)!.cupos"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Gratuito</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="(course$ | async)!.gratis ? 'Gratuito' : 'Pagado'"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <h3>Requerimientos</h3>
          <mat-list
            role="list"
            *ngFor="let requeriment of (requeriments$ | async)!"
          >
            <mat-list-item role="listitem">
              {{ requeriment.descripcion }}</mat-list-item
            >
          </mat-list>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Documentos </mat-panel-title>
      <mat-panel-description>
        Revision de documentos necesarios para la matricula
        <mat-icon>book</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col" *ngFor="let document of (documents$ | async)!">
          <div>
            <div class="card" style="width: 13rem">
              <img
                src="https://placeimg.com/200/200/people"
                class="img-thumbnail"
              />
              <div class="card-body">
                <h5 class="card-title">{{ document.archivoUrl }}</h5>
                <button mat-raised-button color="accent">Ver</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5>Observaciones</h5>

          <mat-list #obs>
            <mat-list-item *ngFor="let ob of (student$ | async)!.observations">
              <mat-checkbox
                class="example-margin"
                (change)="onChangeCheckbox($event)"
                [(ngModel)]="ob.completado"
              >
                {{ ob.description }}
              </mat-checkbox>
              <button
                (click)="updateObservation(ob)"
                mat-button
                color="primary"
              >
                <mat-icon> border_color</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>

          <mat-form-field class="example-full-width">
            <mat-label>Obsercaciones</mat-label>
            <textarea
              matInput
              placeholder="Ex. La cedula se ve borrosa"
              [(ngModel)]="observation.description"
              maxlength="256"
              #obsInput
            ></textarea>
            <mat-hint align="end">{{ obsInput.value.length }} / 256</mat-hint>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            (click)="sendObservations()"
          >
            {{ btnText }}
          </button>
        </div>
        <div class="col">
          <button (click)="updateFormState()" mat-raised-button color="primary">Validar</button>
        </div>
        <div class="col">
          <button mat-raised-button color="warn">Cancelar</button>
        </div>
        <div class="col">
          <button mat-raised-button color="accent">Notificar Estudiante</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
