.dashboardForm {
  padding: 5% 35% 0% 35%;
  background-color: white;
}
.card-title{
  align-self: center;
}
.recuperar{
  text-align: right;
  color: black;

}
.recuperar :hover{
  color: rgb(2, 152, 163);
}
