h1 {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}
.information-container {
  width: 100%;
  display: flex;
}

.course-card {
  width: 30%;
}

.course-information {
  width: 70%;
}

.center {
  display: flex;
  justify-content: center;
}