<!-- <h1>{{ cursos | json }}</h1> -->
<div class="information-container">
  <div class="course-information">
    <mat-tab-group>
      <mat-tab label="General">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Instructor/es </mat-panel-title>
              <mat-panel-description>
                Profesionales encargados de impartir el curso
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let responsable of cursos[0].instructores">
                <mat-icon matListItemIcon>account_circle</mat-icon>
                <div matListItemTitle>{{ responsable.nombreApellidos }}</div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Horarios </mat-panel-title>
              <mat-panel-description>
                Horarios disponibles para el curso
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let horario of cursos[0].horarios">
                <div *ngFor="let schedule of horario.dias">
                <mat-icon matListItemIcon>calendar_today</mat-icon>
                <span matListItemTitle>{{ schedule.descripcion }} - {{horaInicio}} - {{horaFin}}</span>
              </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Requisitos </mat-panel-title>
              <mat-panel-description>
                Requisitos necesarios para la inscripcion
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let requirement of cursos[0].requerimientos">
                <mat-icon matListItemIcon>file_copy</mat-icon>
                <div matListItemTitle>{{ requirement.descripcion }}</div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Contenido">
        <mat-list>
          <div mat-subheader>Contenido a impartir en el curso</div>
          <mat-list-item *ngFor="let content of cursos[0].contenidos">
            <mat-icon matListItemIcon>bookmark</mat-icon>
            <div matListItemTitle>{{ content.descripcion }}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Pre-requisitos">
        <mat-list>
          <div mat-subheader>Pre requisitos para tomar el curso</div>
          <mat-list-item *ngFor="let preRequirement of cursos[0].preRequisitos">
            <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
            <div matListItemTitle>{{ preRequirement.descripcion }}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="course-card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{cursos[0].nombre}}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          {{cursos[0].descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions class="center">
        <button mat-raised-button color="primary"><mat-icon>assignment</mat-icon>MATRICULARSE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
