.courses-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  row-gap: 30px;
  margin-top: 20px;
}

.card {
  width: 300px;
}

.title-center {
  font-size: 40px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}

.card-container {
  width: 100%;
}
