<table mat-table [dataSource]="studentsDataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position"> -->
  <!--   <th mat-header-cell *matHeaderCellDef>No.</th> -->
  <!--   <td mat-cell *matCellDef="let element">{{ element.position }}</td> -->
  <!-- </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tipoEstudiante">
    <th mat-header-cell *matHeaderCellDef>Tipo Estudiante</th>
    <td mat-cell *matCellDef="let element">{{ element.tipoEstudiante }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/students', element.id]">
        <button mat-raised-button color="accent">Ver</button>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
