<div class="grid justify-center mt-20">
  <div class="card shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">
        Iniciar <span class="text-primary">Sesion</span>
      </div>
      <div class="divider"></div>
      <div class="grid justify-center">
        <label for="" style="margin-bottom: 8px;">Usuario:</label>
        <input
          style="margin-bottom: 15px;"
          class="input input-primary"
          type="text"
          name=""
          id=""
          placeholder="Cedula de identidad"
          [(ngModel)]="initialForm.username"
        />

        <label for="" style="margin-bottom: 8px;">Contraseña:</label>
        <input
          class="input input-primary"
          type="password"
          name=""
          id=""
          placeholder=""
          [(ngModel)]="initialForm.password"
        />

      </div>
      <div class="card-actions" style="margin-top: 10px;">
        <button class="btn btn-primary btn-sm" (click)="login()">Iniciar Sesion</button>
        <button class="btn btn-sm">Cancelar</button>
      </div>
      <div class="recuperar">
        <a class="obo">Recuperar Contraseña</a>
      </div>
      <div class="recuperar">
        <a class="obo" (click)="restart()">Generar usuario</a>
      </div>
    </div>
  </div>
</div>


